body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #efefef;
    font-family: monospace, 'Courier New', Courier, monospace;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
    background-color: #364653;
}

.logo{
    display: flex;
    padding: 0 20px;
}

header div img{
    height: 100px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

header div img:hover{
    transform: scale(1.2);
}

.texto h1{
    display: flex;
    text-align: center;
    font-size: 2rem;
    font-weight: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: whitesmoke;
}

.enlaces{
    display: flex;
    margin: 10px 20px;
}

header nav ul li{
    font-size: 1rem;
    font-weight: 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

header nav ul{
    padding: 0;
}

.enlaces a{
    text-decoration: none;
    color: burlywood;
    transition: color 0.3s ease;
}

.enlaces button{
    font-size: 1rem;
    font-weight: 0.5rem;
    color: burlywood;
    transition: color 0.3s ease;
    border: none;
    border-radius: 0.3rem;
}

header nav a:hover{
    color: whitesmoke;
}

header nav button:hover{
    background-color: burlywood;
    color: whitesmoke;
}

.container{
    width: 500px;
    margin: 0 auto;
}

article{
    transition: box-shadow 0.3s ease;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    margin: 1rem;
    cursor: pointer;
}

section article h2{
    margin: 1rem;
}

section article p{
    margin: 1rem;
}

section article img{
    margin-left: 2rem;
    margin-right: 2rem;
    width: 400px;
}

article:hover{
    box-shadow: 0 0.1rem 0.4rem #364552;  
}

footer{
    background-color: #364552;
    padding: 3rem;
    margin-top: auto;
}

footer section{
    float: right;
}

footer p{
    display: flex;
    justify-content: center;
    letter-spacing: 0.5rem;
    font-size: 1rem;
    margin: 0;
    color: whitesmoke;
}