*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Header */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
    background-color: #364653;
}

.logo{
    display: flex;
    padding: 0 20px;
}

header div img{
    height: 100px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

header div img:hover{
    transform: scale(1.2);
}

.texto h1{
    display: flex;
    text-align: center;
    font-size: 2rem;
    font-weight: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: whitesmoke;
}

.enlaces{
    display: flex;
    margin: 10px 20px;
}

header nav ul li{
    font-size: 1rem;
    font-weight: 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

header nav ul{
    padding: 0;
}

.enlaces a{
    text-decoration: none;
    color: burlywood;
    transition: color 0.3s ease;
}

.enlaces button{
    font-size: 1rem;
    font-weight: 0.5rem;
    padding: 3px;
    color: burlywood;
    transition: color 0.3s ease;
    border: none;
    border-radius: 0.3rem;
}

header nav a:hover{
    color: whitesmoke;
}

header nav button:hover{
    background-color: burlywood;
    color: whitesmoke;
}

@media (max-width:700px) {
    .header{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        margin-top: 20px;
    }

    .texto{
        text-align: center;
    }

    .texto h1{
        margin-bottom: 0;
    }

    .enlaces ul{
        margin-top: 0;
    }
}

/* Body */

body{
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    font-family: monospace, 'Courier New', Courier, monospace;
    min-height: 100vh;
}

h1{
    margin: 20px;
    text-align: center;
}

.container-form{
    display: flex;
    justify-content: space-evenly;
    background-color: #364653;
    height: 50vh;
    max-width: 1000px;
    /* width: 75%; */
    margin: 0 20px;
    border-radius: 0.3rem;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.inf-form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 20px;
    background-color: red;
}

.form{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 20px;
}

.form input{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    height: 40px;
    width: 85%;
    color: burlywood;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 0.5rem;
    outline: none;
    transition: color 0.5s ease;
    padding-left: 10px;
}

.form textarea{
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 85%;
    color: burlywood;
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 0.5rem;
    outline: none;
    transition: color 0.5s ease;
    padding-left: 10px;
    padding-top: 10px;
}

.form button{
    display: block;
    margin: auto;
    height: 40px;
    width: 85%;
    color: burlywood;
    background-color: whitesmoke;
    border: 1px solid whitesmoke;
    border-radius: 0.3rem;
    padding-bottom: 20px;
    font-size: 1rem;
    font-weight: 0.5rem;
    outline: none;
    transition: color 0.5s ease;
    padding-left: 10px;
    padding-top: 10px;
    cursor: pointer;
}

::placeholder{
    font-size: 1rem;
    font-weight: 0.5rem;
    color: burlywood
}

.form input:hover{
    border: 1px solid burlywood;
    color: whitesmoke;
}

.form textarea:hover{
    border: 1px solid burlywood;
    color: whitesmoke;
}

.form button:hover{
    border: 1px solid burlywood;
    color: whitesmoke;
    background-color: burlywood;
}