body{
    margin: 0;
    background-color: #efefef;
    font-family: 'Montserrat', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #364653;
    padding: 1rem;
}

header img{
    height: 100px;
    width: 100px;
    cursor: pointer;
    transition: all 0.3s;
}

header img:hover{
    transform: scale(1.2);
}

header p{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: whitesmoke;
}

header nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 1.5rem;
    padding: 0, 0.5rem;
}

header nav a{
    transition: color 0.3s ease;
    color: burlywood;
    text-decoration: none;
}

header button{
    font-weight: 1rem;
    color: burlywood;
    background-color: whitesmoke;
    border: none;
    border-radius: 0.1rem;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

header button:hover{
    background-color: burlywood;
    color: whitesmoke;
    transform: scale(1.2);
}

.container{
    width: 500px;
    margin: 0 auto;
}

article{
    transition: box-shadow 0.3s ease;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: 0.5rem;
    background-color: whitesmoke;
    margin: 1rem;
    padding: 0.5rem, 0;
    cursor: pointer;
}

section article h2{
    margin: 1rem;
}

section article p{
    margin: 1rem;
}

article:hover{
    box-shadow: 0 0.1rem 0.4rem #364552;  
}

footer{
    background-color: #364552;
    padding: 3rem;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
    color: whitesmoke;
}

footer a{
    transition: color 0.3s ease;
    color: burlywood;
    text-decoration: none;
    margin-left: 1.5rem;
}

a:hover{
    color: whitesmoke;
}