body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #efefef;
    font-family: monospace, 'Courier New', Courier, monospace;
    min-height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 130px;
    background-color: #364653;
}

.logo{
    display: flex;
    padding: 0 20px;
}

header div img{
    height: 100px;
    width: 100px;
    transition: all 0.3s;
    cursor: pointer;
}

header div img:hover{
    transform: scale(1.2);
}

.texto h1{
    display: flex;
    text-align: center;
    font-size: 2rem;
    font-weight: 0.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    color: whitesmoke;
}

.enlaces{
    display: flex;
    margin: 10px 20px;
}

header nav ul li{
    font-size: 1rem;
    font-weight: 0.5rem;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

header nav ul{
    padding: 0;
}

.enlaces a{
    text-decoration: none;
    color: burlywood;
    transition: color 0.3s ease;
}

.enlaces button{
    font-size: 1rem;
    font-weight: 0.5rem;
    color: burlywood;
    transition: color 0.3s ease;
    border: none;
    border-radius: 0.3rem;
}

header nav a:hover{
    color: whitesmoke;
}

header nav button:hover{
    background-color: burlywood;
    color: whitesmoke;
}

@media (max-width:700px) {
    .header{
        flex-direction: column;
        align-items: center;
    }

    .logo{
        margin-top: 20px;
    }

    .texto{
        text-align: center;
    }

    .texto h1{
        margin-bottom: 0;
    }

    .enlaces ul{
        margin-top: 0;
    }
}